<div class="card" *ngIf="vehicle !== undefined && selectedVehicle !== null">
  <div class="card-body">
    <h5 class="card-title">{{ vehicle.getValue().licensePlate }} from {{ vehicle.getValue().originCountry }}</h5>
    <div class="card-text">
      <div *ngIf="isLoading">

      </div>
      <span class="sub-text">Serial number: {{ vehicle.getValue().serialNumber }}</span>
      <hr/>
      <div *ngIf="vehicleInfo != null">
        <h6>Vehicle information</h6>

        <ul class="list-group list-group-flush">
          <li class="list-group-item">Type: {{ vehicleInfo.type }}</li>
          <li class="list-group-item">Category: {{ vehicleInfo.category }}</li>
          <li class="list-group-item">Country code: {{ vehicleInfo.countryCode }}</li>
        </ul>
      </div>
      <div *ngIf="vehicleOwnership != null">
        <h6>Ownership information</h6>

        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div>
              Tariff category: {{ vehicleOwnership.tariffCategory.name }}<br/>
              <span class="sub-text">{{ vehicleOwnership.tariffCategory.description }}</span>
            </div>
          </li>
        </ul>

        <div class="card" *ngFor="let ownership of vehicleOwnership.ownership">
          <div class="card-body">
            <h5 class="card-title">{{ ownership.owner.name }}</h5>
            <div class="card-text">
              Lives in: {{ ownership.owner.city }}
            </div>
          </div>
        </div>
      </div>

      <div class="btn btn-success" (click)="markFound()">Mark found</div>
    </div>
  </div>

</div>
