<div class="card" *ngIf="vehicle !== undefined && selectedVehicle !== null">
  <div class="card-body">
    <h5 class="card-title">{{ vehicle.brand }} {{ vehicle.type }}</h5>
    <div class="card-text">
      <hr/>

      <div class="row">
        <div class="col-sm-3">Hardware SN</div>
        <span class="col-sm-4">{{ vehicle.hardwareSn }}</span>
      </div>
      <div class="row">
        <div class="col-sm-3">Kenteken</div>
        <span class="col-sm-4">{{ vehicle.plate }}</span>
      </div>

      <hr/>
      <h6>Owners</h6>
      <ul class="list-group">
        <li *ngFor="let owner of vehicle.owners" class="list-group-item">
          <span>From {{ owner.from.toDateString() }} to {{ owner.to.toDateString() }}</span>
          <div class="row">
            <div class="col-sm-3">Naam</div>
            <span class="col-sm-9">{{ owner.owner.name }}</span>
          </div>
          <div class="row">
            <div class="col-sm-3">Email</div>
            <span class="col-sm-9">{{ owner.owner.email }}</span>
          </div>
          <div class="row">
            <div class="col-sm-3">Address</div>
            <span class="col-sm-9">{{ owner.owner.address}}, {{ owner.owner.city }}</span>
          </div>
        </li>
      </ul>

      <hr/>
    </div>
  </div>
</div>
