<div class="row" style="margin-top: 30px">
  <form (submit)="showVehicleInformation(vehicleService,searchInput.value)" action="javascript:void(0)" >
    <div class="form-group">
      <input #searchInput type="text" class="form-control" placeholder="Search"/>
    </div>
    <div> <input ([ngModel])="searchQuery" type="submit" class="btn btn-primary" value="Show information"></div>
  </form>
  <div class="col-sm-8">
    <app-vehicle-view [vehicle]="selectedVehicle"></app-vehicle-view>
  </div>
</div>
