<div class="container">
  <h1>Movement History</h1>
  <h5>Enter two dates and a licenseplate to get the movement history of matching vehicle.</h5>

  <div class="form-group">
    <input type="date" name="startDate" max="3000-12-31" min="1000-01-01" class="form-control" [(ngModel)]="startDate">
    <input type="date" name="endDate" max="3000-12-31" min="1000-01-01" class="form-control" [(ngModel)]="endDate">
    <input type="text" class="form-control" name="licenseplate" [(ngModel)]="licensePlate" placeholder="Licenseplate" />
  </div>
  <div class="btn" (click)="getHistory()"> See movement history </div>

  <!--
  <div class="row" [ngStyle]="{ 'display': visible ? 'block' : 'none' }" style="display: block;">
    <div class="col-sm-12">
      <div id="leafletmap"></div>
    </div>
  </div>
  -->

</div>